* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4c321c;
}
.board {
  width: min(600px, 100svw);
  height: min(600px, 100svw);
  background-color: var(--border-color);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border-bottom: 10px solid #815b3a;
  filter: drop-shadow(0 0 3rem rgba(0, 0, 0, 0.427));
}
.cell {
  background-color: #f2e1c3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell.tinted {
  background-color: #c3a082;
}
.cell.green,
.cell.tinted.green {
  border: 5px solid rgb(0, 255, 0);
  background-color: green;
}
.knight {
  background-color: rgb(38, 38, 38);
  width: 50px;
  height: 50px;
  border-radius: 100px;

  border-bottom: 10px solid black;
  background: radial-gradient(circle, rgb(69, 69, 69) 0%, rgb(0, 0, 0) 100%);
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.41));
}
