* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
}
.board {
  width: min(600px, 100svw);
  height: min(600px, 100svw);
  background-color: var(--border-color);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
.cell {
  background-color: #f2e1c3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell.tinted {
  background-color: #c3a082;
}
.cell.green,
.cell.tinted.green {
  border: 5px solid rgb(0, 255, 0);
  background-color: green;
}
.knight {
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
